
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-image: url("./images/sky.jpg");
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100vw;
}

.about-me-container {
  margin: 2rem;

}

/*.parallax-container {
  height: 100vh;
}*/


.name-h1 {
  margin: 2rem;
  text-align: right;
  font-size: 5vh;
  z-index: 2;
}
