body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background: #dbefff;
 font-family: 'Molle', cursive;
}

.home {
order: 3;
background-color: white;
margin-top: 5em;
margin-left: 10em;
margin-right: 10em;
width: 80vw;
height: 60vh;
}

p {
  margin-top: 2em;
  text-align: center;
  font-size: 10vh;
}

img {
  background-position: center;
  
}
