
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans Condensed', sans-serif;
}

main {
  flex: 1 0 auto;
}

.about-me {
  margin: 3rem;
  position: relative;
  background-image: url("./images/sky.jpg");
  background-repeat: no-repeat;
}
.profileimg {

}

.contact {
  margin: 5rem;
  background-color: white;
  position: relative;
}

h2 {
  margin: 1rem;
}

#name-h1 {
  margin: 1rem;
  text-align: center;
  font-size: 4vh;
  z-index: 2;
}

footer {
  position: sticky;
}

object {
  height: 100Vh;
  width: 75vw;
}

.projects h1 {
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#projectsimg {
  width: 20vw !important;
  height: 55vh !important;

}

.carousel-item {
  width: 25vw !important;
  height: 75vh !important;
}

#contact-title {
  text-align: center;
}

#contact {
  margin: 3em;
  max-width: 50vw;
}
